## 문자열의 이해
### 형식 문자 사용

In [2]:
str1="나는 %d원을 갖고 있다."% 10000
print(str1)

나는 10000원을 갖고 있다.

In [3]:
money = 123.456789
print("[%f]원 입니다."% money)

[123.456789]원 입니다.

In [4]:
lang = "python"
str2 = "Hello %s" % lang
print(str2)

Hello python

In [6]:
str3 = "%s 날짜는 %d년 %d월 %d일 입니다."

msg1 = str3%("정모", 2023, 1, 1)
print(msg1)

msg2 = str3 % ("약속", 2023, 3, 5)
print(msg2)

정모 날짜는 2023년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [7]:
print("[%10d]원을 입금했습니다."%120000)

[    120000]원을 입금했습니다.

In [8]:
print("[%010d]원을 입금했습니다."%120000)

[0000120000]원을 입금했습니다.

In [9]:
print("[%-10d]원을 입금했습니다."%120000)

[120000    ]원을 입금했습니다.

In [10]:
print("[%10s]에 살고 있습니다."%"대한민국")
print("[%-10s]에 살고 있습니다."%"대한민국")

[      대한민국]에 살고 있습니다.
[대한민국      ]에 살고 있습니다.

In [11]:
mymoney = 12345.6789

In [13]:
print("[%0.3f]원 입니다." % mymoney)

[12345.679]원 입니다.

In [14]:
print("[%10.3f]원 입니다."%mymoney)
print("[%-10.3f]원 입니다." % mymoney)

[ 12345.679]원 입니다.
[12345.679 ]원 입니다.

In [15]:
print("[%010.3f]원 입니다."%mymoney)

[012345.679]원 입니다.

In [17]:
msg1="i eat {0} apples"
print( msg1.format(3))

i eat 3 apples

In [24]:
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print( msg2.format("개강일", 2023, 01, 26) )

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1740752442.py, line 2)

In [25]:
msg3="{name}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg3.format(mm=10, name="종강일", dd=20, yy=2023))

종강일은 2023년 10월 20일 입니다.

In [27]:
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg4.format("생일", yy=2023, mm=1, dd=31))

생일은 2023년 1월 31일 입니다.

In [30]:
fmt5="{1} {name}는 이 {0}입니다."
rst = fmt5.format("책", "좋은", name="교과서")
print(rst)

좋은 교과서는 이 책입니다.

In [31]:
err= "이 {0}은 {1} {name}입니다."
err = result=err.format(name="교과서", "책", "좋은")
print(err_result)

SyntaxError: positional argument follows keyword argument (1250745427.py, line 2)

In [32]:
sort1="[{0:>5}]!!Python, [{1:>9}]~Python"
print( sort1.format("Hi", "welcome"))

[   Hi]!!Python, [  welcome]~Python

In [34]:
sort2 = "[{0:<5}]!!Python, [{1:<9}]~Python"
print( sort2.format("Hi", "welcome"))

[Hi   ]!!Python, [welcome  ]~Python

In [35]:
sort3= "[{0:^10}]!!Python, [{1:^9}]~Python"
print( sort3.format("Hi", "Hello"))

[    Hi    ]!!Python, [  Hello  ]~Python

In [40]:
blank1 = "[{0:~<5}]!!Python!! [{1:*^9}]!!Python"
print( blank1.format("Hi", "Hello"))

[Hi~~~]!!Python!! [**Hello**]!!Python

In [41]:
phone="010-1234-5678"
blank2 = "{0}-{1:*>4}-{2}"
result=blank2.format(phone[0:3], "", phone[-4:])
print(result)

010-****-5678

In [42]:
float1 = "{0:0.4f}"
print( float1.format(123.456789))

123.4568

In [43]:
float2="[{0:10.4f}]"
print( float2.format(123.456789))

[  123.4568]

In [44]:
float3="{0:010.4f}"
print( float3.format(123.456789))

00123.4568

In [45]:
my="{{python}}은 {0}다"
print( my.format("쉽"))
print( my.format("간결하"))

{python}은 쉽다
{python}은 간결하다

## 문자열 관련 함수
### 내장함수

In [47]:
mystr="Hello python"
length=len(mystr)
print(length)

12

In [48]:
print(len("안녕하세요 파이썬"))

9

In [49]:
str= "파이썬 프로그래밍으로 데이터를 분석합니다."

In [51]:
print(str.count("이"))
print(str.count("가"))

2
0

In [52]:
print(str.count("파이썬"))
print(str.count("python"))

1
0

In [53]:
message= "내가 좋아하는 것에만 집중하기로 했다."

In [55]:
print(message.find("가"))
print(message.find("나"))

1
-1

In [56]:
print(message.find("집중"))
print(message.find("파이썬"))

12
-1

In [57]:
sentence="사람의 사람에 의한 사람을 위한"

In [58]:
print(sentence.rfind("사"))
print(sentence.rfind("자"))

11
-1

In [59]:
print( sentence.rfind("사람"))
print( sentence.rfind("인간"))

11
-1

In [60]:
str= "Life is too short, you need python"

In [62]:
print( str.startswith("L"))

True

In [63]:
print( str.startswith("l"))

False

In [66]:
print( str.startswith("Life"))

True

In [67]:
print( str.startswith("life"))

False

In [68]:
str= "Life is too short, you need Python"

In [69]:
print( str.endswith("N"))

False

In [70]:
print( str.endswith("n"))

True

In [71]:
print( str.endswith("Python"))

True

In [72]:
print( str.endswith("python"))

False

In [73]:
str= "Life is too short, you need Python"

In [74]:
upchar= str.upper()
print(upchar)

LIFE IS TOO SHORT, YOU NEED PYTHON

In [75]:
lowchar= str.lower()
print(lowchar)

life is too short, you need python

In [76]:
print(str)

Life is too short, you need Python

In [77]:
print(str.swapcase())

lIFE IS TOO SHORT, YOU NEED pYTHON

In [79]:
print(str.capitalize())

Life is too short, you need python

In [80]:
print(str.title())

Life Is Too Short, You Need Python

In [84]:
k="     python     "
print("[" + k + "]")

x=k.strip()
print("[" + x + "]")

y= k.lstrip()
print("[" + y + "]")

z= k.rstrip()
print("[" + z + "]")

[     python     ]
[python]
[python     ]
[     python]

In [86]:
myMessage = "Hello World"
newMessage = myMessage.replace("World", "Python")
print(newMessage)
print(myMessage)

Hello Python
Hello World

## 연습문제 풀이
### 파일의 경로에서 정보 추출하기

In [117]:
s="C:\\myphoto\\helloworld.jpg"
p1=photo.rfind("\\")
p2=photo.rfind(".")
print("폴더의 위치: ", photo[:p1])
print("파일 이름: ", photo[P1+1:p2])
print("확장자", photo[p2+1:])

NameError: name 'photo' is not defined

### 리스트 정의하기

In [119]:
grade=[98,82,73,64,100]
grade

[98, 82, 73, 64, 100]

In [120]:
names=["철수", "영희", "나영", "민식", "호영"]
names

['철수', '영희', '나영', '민식', '호영']

In [123]:
student=["철수", 17, 162.4, 68.5, "남자", True]
student

['철수', 17, 162.4, 68.5, '남자', True]

In [124]:
items=[10, 20, 30]
print(items[0])
print(items[1])
print(items[2])

10
20
30

In [125]:
mydata=[100, 200, 300]
print(mydata)
mydata[0]=0
mydata[1]= mydata[1]-150
mydata[2] //=3
print(mydata)

[100, 200, 300]
[0, 50, 100]

In [128]:
stud1=['철수', 92]
stud2=['민영', 86]
stud3=['영수', 91]
msg="{0}(이)의 점수는 {1}점 입니다."
print( msg.format(stud1[0], stud1[1]))
print( msg.format(stud2[0], stud2[1]))
print( msg.format(stud3[0], stud3[1]))

철수(이)의 점수는 92점 입니다.
민영(이)의 점수는 86점 입니다.
영수(이)의 점수는 91점 입니다.

In [129]:
list1=[10, 20, 30]
list2=[40, 50, 60]
print(list1)
print(list2)

[10, 20, 30]
[40, 50, 60]

In [130]:
list3=list1+list2
print(list3)

[10, 20, 30, 40, 50, 60]

In [131]:
list4=list1*5
print(list4)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [132]:
std1=["철수", 98]
std2=["영희", 82]
std1=["나영", 73]

studentGroup = [stud1, stud2, stud3]
print(studentGroup)

[['철수', 92], ['민영', 86], ['영수', 91]]

In [133]:
strudentgroup2=[
    ["민식", 64, 172.3],
    ["호영", 100, 175.8],
    ["철민", 89, 168.7]
]
print(studentGroup)

[['철수', 92], ['민영', 86], ['영수', 91]]

In [134]:
학생=[["민식", 64, 172.3], ["호영, 100, 175.8"], ["철민", 89, 168.7]]

In [135]:
print(학생[0])

['민식', 64, 172.3]

In [136]:
print(학생[1])

['호영, 100, 175.8']

In [137]:
print(학생[2])

['철민', 89, 168.7]

In [141]:
학생=[["민식", 64, 172.3], ["호영", 100, 175.8], ["철민", 89, 168.7]]

In [142]:
fmt="{name}(이)의 몸무게는{weight}kg이고, 키는 {height}cm 입니다."

In [143]:
print(fmt.format(name=학생[0][0], weight=학생[0][1], height=학생[0][2]))
print(fmt.format(name=학생[1][0], weight=학생[1][1], height=학생[1][2]))
print(fmt.format(name=학생[2][0], weight=학생[2][1], height=학생[2][2]))

민식(이)의 몸무게는64kg이고, 키는 172.3cm 입니다.
호영(이)의 몸무게는100kg이고, 키는 175.8cm 입니다.
철민(이)의 몸무게는89kg이고, 키는 168.7cm 입니다.

In [144]:
mylist=[10, 20, 30]
print(mylist[1])
print(mylist[-1])

20
30

In [145]:
first=mylist
print(first)

[10, 20, 30]

In [146]:
mylist[1]=200
print(mylist)

[10, 200, 30]

In [147]:
mylist=[60, 70, 80, 90, 100]

In [148]:
print(mylist[1:3])

[70, 80]

In [149]:
print(mylist[1:-2])

[70, 80]

In [150]:
print(mylist[3:])

[90, 100]

In [151]:
print(mylist[:3])

[60, 70, 80]

In [153]:
print(mylist[:])

[60, 70, 80, 90, 100]

In [157]:
foo=[1,2,3,4,5]
foo[1:4]=[20, 30, 40]
print(foo)

[1, 20, 30, 40, 5]

In [158]:
hello=[6, 7, 8, 9, 10]
hello[1:4]=[100, 200, 300, 400, 500, 600, 700]
print(hello)

[6, 100, 200, 300, 400, 500, 600, 700, 10]

In [159]:
world = [11, 12, 13, 14, 15]
world[1:4]=[1000, 2000]
print(world)

[11, 1000, 2000, 15]

In [160]:
bar=[11, 22, 33, 44, 55]
bar[1:4]=[]
print(bar)

[11, 55]

In [161]:
grade=(98, 82, 73, 64, 100)
print(grade)

(98, 82, 73, 64, 100)

In [162]:
names=("철수", "영희", "나영", "민식", "호영")
print(stud1)

['철수', 92]

In [163]:
print(stud1[0])
print(stud1[1])

철수
92

In [164]:
a, b=["python", "bigdata"]
print(a)
print(b)

python
bigdata

In [165]:
a, b=("python", "bigdata")
print(a)
print(b)

python
bigdata

In [166]:
a, b, c = [10, 20, 30, 40]

ValueError: too many values to unpack (expected 3)

In [167]:
a=100
b=a
print(a)
print(b)

100
100

In [168]:
b=200
print(a)
print(b)

100
200

In [169]:
b=200
print(a)
print(b)

100
200

In [170]:
foo=[1, 2, 3]
bar=foo
print(foo)
print(bar)

[1, 2, 3]
[1, 2, 3]

In [171]:
bar[1]=20
print(foo)
print(bar)

[1, 20, 3]
[1, 20, 3]

In [172]:
bar=[1, 2, 3]
cp1=[0, 0, 0]
cp1[0]=bar[0]
cp1[1]=bar[1]
cp1[2]=bar[2]
cp1[2]=1000
print(bar)
print(cp1)

[1, 2, 3]
[1, 2, 1000]

In [174]:
hello =[100, 200, 300]
cp2=hello[:]

cp2[1]=12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [176]:
world=["hello", "python", "world"]
cp3=world.copy()
cp3[0]="nice"
print(world)
print(cp3)

['hello', 'python', 'world']
['nice', 'python', 'world']

In [177]:
mylist=[1,2,3]
print(len(mylist))

3

In [178]:
mylist=[1,2,3]
del(mylist[1])
print(mylist)

[1, 3]

In [179]:
mylist=[4, 2, 5, 3, 1]
print(mylist)

[4, 2, 5, 3, 1]

In [180]:
asc=sorted(mylist)
print(asc)

[1, 2, 3, 4, 5]

In [181]:
desc=sorted(mylist, reverse=True)
print(asc)

[1, 2, 3, 4, 5]

In [182]:
desc=sorted(mylist, reverse=True)
print(desc)

[5, 4, 3, 2, 1]

In [183]:
print(mylist)

[4, 2, 5, 3, 1]

In [184]:
a=[1, 2, 3]
print(max(a))
print(min(a))
print(sum(a))

3
1
6

In [186]:
avg=sum(a)/len(a)
print(avg)

2.0

In [187]:
a="python"
b=list(a)
print(b)

['p', 'y', 't', 'h', 'o', 'n']

In [188]:
c=(1, 2, 3)
d=list(c)
print(d)

[1, 2, 3]

In [189]:
e=[10, 20, 30]
f=list(e)
print(f)

[10, 20, 30]

In [190]:
k=range(1, 10)
print(type(k))
print(k)

<class 'range'>
range(1, 10)

In [191]:
z=list(k)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [193]:
k=list(range(1, 10, 3))
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [194]:
mylist=[1, 2, 3, 2, 4, 2]
c=mylist.count(2)
print(c)

3

In [195]:
mylist=[1, 2, 3, 10, 1, 2, 3, 10]
x=mylist.index(10)
print(x)

3

In [196]:
y=mylist.index(5)
print(y)

ValueError: 5 is not in list

In [198]:
mylist=[1, 2, 3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [199]:
mylist=[1, 2, 3]
mylist.append([5, 6])
print(mylist)

[1, 2, 3, [5, 6]]

In [202]:
mylist = [1, 2, 3]
mylist.insert( 1 , 10)
print(mylist)

[1, 10, 2, 3]

In [204]:
mylist = [1, 2, 3]
mylist . insert(0, 10)
print(mylist)

[10, 1, 2, 3]

In [207]:
mylist = [1, 2, 3]
lastindex = len(mylist)
mylist . insert( lastindex, 10 )
print(mylist)

[1, 2, 3, 10]

In [211]:
mylist = [1, 2, 3]
k = mylist . pop()
print( k)
print( mylist )

3
[1, 2]

In [214]:
mylist = [ 1, 2, 3 ]
addon = [ 10 , 9, 8, 7 ]
mylist . extend (addon )
print (mylist )

[1, 2, 3, 10, 9, 8, 7]

In [215]:
mylist = [1, 2, 3, 10 , 1, 2, 3, 10]
mylist . remove ( 10 )
print (mylist )

[1, 2, 3, 1, 2, 3, 10]

In [216]:
mylist = [1, 7, 5, 3, 9]
mylist . reverse ( )
print (mylist )

[9, 3, 5, 7, 1]

In [217]:
myllst = [2, 5, 1, 4, 3]
mylist . sort ()
print (mylist )

[1, 3, 5, 7, 9]

In [218]:
mylist = [2, 5, 1, 4, 3]
mylist . sort ( reverse=True)
print (mylist )

[5, 4, 3, 2, 1]

In [220]:
text = "Hello,Python,World,Good"
mylist = text . split ( "," )
print (mylist )

['Hello', 'Python', 'World', 'Good']

In [221]:
dl = "$"
mylist = [ 'Hello' , 'Python' , 'World' , 'Good' ]
text = dl . join(mylist )
print( text )

Hello$Python$World$Good

In [222]:
empty = ""
mylist = [ 'Hello' , 'Python' , 'World' , 'Good' ]
text = empty . join(mylist )
print( text )

HelloPythonWorldGood

In [223]:
space = " "
mylist = [ 'Hello' , 'Python' , 'World' , 'Good' ]
text = space . join(mylist )
print( text )

Hello Python World Good

In [224]:
c = divmod (7 , 3)
print (c)

(2, 1)

In [227]:
hours = 800
k = divmod (800 , 24)
tpl = "{0}일 {1}시간"
print ( tpl . format (k[0] , k[1] ) )

33일 8시간

In [229]:
days , hours = divmod (900 , 24)
tpl = "{0}일 {1}시간"
print ( tpl . format (days , hours ))

37일 12시간

## 문제풀이
### 상위 n명의 점수 구하기

In [235]:
score=[82, 74, 93, 65, 32, 71, 90, 88, 74]
score.sort(reverse=True)
avrage_top3scorer=sum(score[0:3])/len(score[0:3])
print(avrage_top3scorer)

90.33333333333333