# 04강 - 변수의 이해
## 1. 변수의 이해
### 다양한 변수 만들기

In [2]:
# 변수 만들기 (오른쪽에서 왼쪽으로 대입 -> 최초대입을 초기화 라고 함)
# -> 이름 = 값
a = 123
b = -456
print(a)
print(b)

123
-456

In [4]:
# 한 번 할당된 변수는 다른 값으로 변경 가능
a = 10000
print(a)

10000

In [5]:
# 실수형 변수 만들기
c = 1.2
d = -3.45
print(c)
print(d)

1.2
-3.45

### 지수 표기법

In [6]:
# 지수형태(소수점의 오른쪽 이동)
e = 4.24e5      # 4.24 * (10의 5제곱)
print(e)

424000.0

In [7]:
# 지수형태(소수점의 왼쪽 이동)
f = 4.24e-3     # 4.24 * (10의 -3제곱)
print(f)

0.00424

### 진법 표현

In [9]:
# 8진수 표현 (숫자0 + 알파벳o +숫자값)
g = 0o177
print(g)

127

In [10]:
# 16진수 표현 (숫자0 + 알파벳x + 숫자값)
h = 0xABC
print(h)

2748

### 논리형 변수

In [12]:
a = True
print(a)

True

In [13]:
b = False
print(b)

False

### 문자열 변수

In [14]:
# 문자열 변수
msg = '안녕하세요. 파이썬'
print(msg)

안녕하세요. 파이썬

### 내용이 없는 변수

In [16]:
# 내용이 없는 변수
hello = None
print(hello)

None

### 함수의 정의와 호출

In [18]:
# 함수 정의하기
def f(x):
    return 2 * x + 1

In [19]:
# 함수 사용하기 (1)

In [20]:
y = f(2)
print(y)

5

In [21]:
# 함수 사용하기 (2)
z = f(5)
print(z)

11

### type()내장함수 사용하기

In [23]:
# 정수형 변수의 데이터 타입 확인
age=20
type0fAge = type(age)
print(type0fAge)

<class 'int'>

In [24]:
# 실수형 변수의 데이터 타입 확인
pi = 3.14
type0fpi = type(pi)
print(type0fpi)

<class 'float'>

In [31]:
# 문자열 변수의 데이터 타입 확인
message = "Hello Python"
type0fMessage = type(message)
print(type0fMessage)

<class 'str'>

In [28]:
# 논리형 변수의 데이터 타입 확인
ok = True
type0f0k = type(ok)
print(type0f0k)

<class 'bool'>

In [32]:
# 문자열 입력받기
msg1 = input("메시지를 입력하세요")
print(msg1)

#안녕하세요

In [33]:
# 입력 받은 내용의 데이터 타입 확인 --> 문자열(str)
t = type(msg1)
print(t)

<class 'str'>

In [34]:
# 입력받은 값을 정수 타입으로 변환
msg2 = input("정수를 입력하세요")
num = int(msg2)
print(num)

#변환 결과의 데이터 타입 확인 --> 정수 (int)
num_type = type(num)
print(num_type)

123
<class 'int'>

In [35]:
# 입력받은 값을 실수 타입으로 변환
msg3 = input("실수를 입력하세요")
fnum=float(msg3)
print(fnum)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
fnum_type = type(fnum)
print(fnum_type)

123.45
<class 'float'>

In [36]:
# 정수를 실수로 변환 --> 정수 뒤에 ".0" 이 추가됨
num1 =100
num2 = float(num1)
print(num2)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
t1 = type(num2)
print(t1)

100.0
<class 'float'>

In [37]:
# 실수를 정수로 변환 --> 소수점 버림
num3 = 123.78
num4 = int(num3)
print(num4)

# 변환 결과의 데이터 타입 확인 --> 정수(int)
t2= type(num4)
print(t2)

123
<class 'int'>

In [38]:
# 문장 여러개를 공백으로 구분하여 저장할 경우 "+"연산과 동일하다.
# -> 단순한 문자열 연결
print("Life"+"is"+"short")
print("Life" "is" "short")

Lifeisshort
Lifeisshort

In [39]:
#문장을 콤마로 구분하면 띄어쓰기가 수행된다.
# -> 문자열 이외의 다른 타입의 변수도 사용 가능함
a = 100
print("Life", "is", "short", a)

Life is short 100

In [40]:
# 출력할 내용을 구성하고 마지막에 'end=""'라고 지정하면 줄바꿈을 수행하지 않는다.
print("Life ", end="")
print("is ", end="")
print("short ", end="")

Life is short

In [41]:
# end는 출력후 마무리를 어떻게 할지 지정하는 기능.
# -> 기본값은 (줄바꿈문자)"\n"으로 지정되어 있다.
print("You", "need", "Python", end="~~^^/")

You need Python~~^^/

In [42]:
# 제곱근 구하기 -> '2**8' 연산과 동일한 결과.
a = pow(2,8)
print(a)

256

In [43]:
# 절대값 구하기
a = abs(100)
print(a)

b = abs(-100)
print(b)

c = abs(-12.345)
print(c)

100
100
12.345

In [44]:
# 실수형 변수의 초기화
pi = 3.14

In [45]:
# 객체에 포함되는 메서드 활용하기 --> 소수점 올림
a = pi.__ceil__()
print(a)

4

In [46]:
# 객체에 포함되는 메서드 활용하기 --> 소수점 내림
b = pi.__floor__()
print(b)

3

### 변수간의 데이터 맞교환

In [48]:
a = 1
b = 2
print(a)
print(b)

a, b = b, a
print(a)
print(b)

1
2
2
1

In [49]:
# 연산 결과는 새로운 변수에 할당 하거나 직접 출력 가능
a = 3
b = 4
c = a + b
print(c)

7

In [50]:
# 연산결과 직접 출력
print( a- b)
print( a* b)
print(a/b)

-1
12
0.75

In [51]:
# 나눗셈의 몫을 구한다
# -> 처리 가능한 단위까지 계산함(마지막 오차발생)
print( 10/3)

3.3333333333333335

In [52]:
# 나눗셈에서 소수점 아래를 버리고 몫만 계산
print( 10//3)

3

In [53]:
# 나눗셈의 나머지를 구한다.
# ->정수 단위에서만 연산후 종료.
print( 10 % 3 )

1

In [54]:
# 거듭제곱
print( 3**5 )

243

### 다항 연산자

In [56]:
a = 1
a += 100
a *= 10
a //= 3
a %= 5
print(a)

1

In [57]:
print (100==50)
print (100 != 50)
print (100>=50)
print (100>50)
print(100<50)
print(100<=50)

False
True
True
True
False
False

In [58]:
# 비교연산도 하나의 수식이므로 결과를 다른 변수에 할당 가능함
result = 100>50
print(result)

True

In [59]:
# 논리연산자 (and) --> 전체가 True인 경우만 결과없이 True
print( True and True)
print( True and False)
print( False and True)
print( False and False)

True
False
False
False

In [60]:
# 논리연산자 (or)--> 하나라도 True가 포함되어 있다면 결과값이 True
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [61]:
# True에 대한 부정
print(not True)

False

In [63]:
# False에 대한 부정
print(not False)

True

In [64]:
# 논리값을 저장하는 변수를 부정하며 그 결과를 다른 변수에 할당
mybool = True
reverse = not mybool
print(reverse)

False

In [65]:
# 비교연산의 결과값은 bool 형식이므로 논리연산이 가능함
a = 100>50
b = 20>10
print( a and b )

True

In [67]:
c = 100 >= 100 and 50 == 10
print(c)

False

In [68]:
print( 100 != 200 and 100 == 100)

True

In [69]:
# 비교를 위한 변수값 정의
x = 100
y=100.0

In [70]:
# 단순 비교 연산자는 정수와 실수를 구분하지 않는다
print( x == y ) # 1과 1.0을 같다고 판별하므로 True
print( x != y ) # 1과 1.0을 다르다고 판단할 경우 False

True
False

In [71]:
# is 연산자는 비교하는 값의 데이터 타입까지 일치해야만 True
print( x is y )
print( x is not y)

False
True

### 연구과제(1)

In [74]:
# 문제 1.
a=89000
b=751000
people=a*100+b*20
print(people)

23920000

In [77]:
# 문제 2.
aa=a*0.95
bb=b*0.9
present_money = aa*100+bb*20
loss_money = people - present_money
print(loss_money)

1947000.0

### 연구과제 (2)

In [104]:
# 신체질량지수에 의한 비만도 계산 프로그램
myWeight = int(input("체중(kg)을 입력하세요"))
myHeight = float(input("키(m)를 입력하세요"))
BMI=myWeight/myHeight
print(BMI)
if BMI<20 :
    print(BMI,"저체중입니다.")
elif BMI<=24 :
    print(BMI,"정상입니다.")
elif BMI<=29 :
    print(BMI,"과체중입니다.")
else :
    print(BMI,"비만입니다.")

39.64497041420118
39.64497041420118 비만입니다.

In [105]:
# 쌍따음표나 홑따옴표로 감싸야 한다, -> 따옴표의 혼용은 불가.
msg1 = "Life is too short"
msg2 = 'You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [106]:
# 따옴표의 쌍이 다르게 저장된 경우 --> 에러
msg3="Python Study'
print(msg3)

SyntaxError: unterminated string literal (detected at line 2) (2593877926.py, line 2)

In [107]:
# 문자열의 덧셈은 문자열을 연결하는 기능
msg1 = "Hello"
msg2 = "Python"
print( msg1 + ", " + msg2)

Hello, Python

In [108]:
# 따옴표로 감싸면 무조건 문장.
# -> 숫자가 아니므로 연산 결과도 문자열 연산 규칙을 따른다.
pay = "20000"
bonus = "100"
print( pay + bonus )

20000100

In [109]:
# 문자열과 다른 데이터 타입의 값은 덧셈 불가
print(msg1 + 100)

TypeError: can only concatenate str (not "int") to str

In [110]:
# 문자열과 숫자의 곱셈은 동일 내용을 여러번 반복한다.
name = "Python"
print(name * 5)

PythonPythonPythonPythonPython

In [111]:
# 문자열끼리의 곱셈은 불가능
strTimes = "Python" * "Hello"

TypeError: can't multiply sequence by non-int of type 'str'

In [112]:
# 쌍따옴표 안에 쌍따옴표 넣기 -> 이스케이프 문자 사용
case1 = "Life is \"Too\" short"
print(case1)

Life is "Too" short

In [115]:
# 홑따옴표 안에 홑따옴표 넣기 -> 이스케이프 문자 사용
case2 = 'Life is \'too\' short'
print(case2)

Life is 'too' short

In [116]:
# 줄바꿈 => \n
print("Life is too short\nyou need Python")

Life is too short
you need Python

In [117]:
# 탭키 => \t
print("Life is too short\tyou need python")

Life is too short	you need python

In [118]:
# 순수한 역슬래시 출력 => \\
print("Life is too short\\you need Python")

Life is too short\you need Python

In [119]:
# 문자열을 쌍따옴표로 표현하는 경우 -> 홑따옴표를 포함시킬 수 있다.
str1 = "you 'need' Python"
print(str1)

you 'need' Python

In [120]:
# 문자열을 홑따옴표로 표현하는 경우 -> 쌍따옴표를 포함시킬 수 있다.
str2 = 'you "need" Python'
print(str2)

you "need" Python

In [121]:
# 실습을 위한 문자열 변수 초기화
str = "Life is too short, you need Python"
str

'Life is too short, you need Python'

In [122]:
# 3번째 문자 추출 -> 0부터 카운트
print( str[3])

e

In [123]:
print( str[-3])

h

In [124]:
print( str[100])

IndexError: string index out of range

In [125]:
str= "life is too short, you need Python"
str

'life is too short, you need Python'

In [126]:
print(str[0:4])

life

In [127]:
print(str[5:7])

is

In [128]:
print(str[19:])

you need Python

In [129]:
print( str[:17])

life is too short

In [130]:
print( str[:])

life is too short, you need Python

In [131]:
print( str[19:-7])

you need

In [132]:
print( str[7:5])

### 문제- 단어의 위치 바꾸기

In [138]:
s = "Daum KaKao"
print(s)
A = s[5:11]+" "+s[0:5]
print(A)

Daum KaKao
KaKao Daum