## 딕셔너리의 이해
### 딕셔너리의 기본 형식

In [9]:
mydic = { "name": "철수", "phone" : "010-1234-5678" , "birth": "0115" }
print (mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [10]:
print ( mydic [ "name" ] )

철수

In [11]:
phone = mydic [ "phone" ]
print ( phone )

010-1234-5678

In [12]:
mydic [ "name" ]  = "호영"
print (mydic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

In [18]:
foo = {"a" : 100, "b" : 200}
print ( foo [ "c" ] )

KeyError: 'c'

In [19]:
foo = { "a" : 100 , "b" : 200}
foo [ "c" ] = 300
print ( foo )

{'a': 100, 'b': 200, 'c': 300}

In [20]:
data = { "msg" : "hello" , "msg" : "world" , "msg" : "python" }
print ( data [ 'msg' ] )
data

python

{'msg': 'python'}

In [24]:
student = {
    "name": ['철수', '민수', '호영'],
    "age" : [ 16 , 17 , 19],
    "height" : [172.4 , 168.2 , 170.5]
}
tpl = "[%s ] 나이: %d세, 키: %0.1fcm"
print(tpl % ( student [ 'name' ][0] , student [ 'age' ][0] , student[ 'height' ][0] ))
print(tpl % ( student [ 'name' ][ 1] , student [ 'age' ][ 1] , student[ 'height' ][1] ))
print(tpl % ( student [ 'name' ][ 2] , student [ 'age' ][ 2] , student[ 'height' ][2] ))

[철수 ] 나이: 16세, 키: 172.4cm
[민수 ] 나이: 17세, 키: 168.2cm
[호영 ] 나이: 19세, 키: 170.5cm

In [26]:
grade = [
{ "name" : "철수", "kor": 95, "eng":88},
{ "name" : "영희" , "kor" : 92 , "eng" : 90 },
{ "name" : "철민" , "kor" : 88 , "eng" : 76}
]

In [30]:
print ( "0번째 원소 : %s " % grade[0] )
print ( "1번쨰 원소 : %s " % grade[1] )
print ( "2번째 원소 : %s " % grade[2] )

0번째 원소 : {'name': '철수', 'kor': 95, 'eng': 88}
1번쨰 원소 : {'name': '영희', 'kor': 92, 'eng': 90}
2번째 원소 : {'name': '철민', 'kor': 88, 'eng': 76}

In [32]:
tpl = "{0}의 국어점수: {1}, 영어점수: {2}"
print ( tpl . format ( grade[ 0][ "name" ] , grade [ 0][ "kor" ] , grade[ 0][ "eng" ] ))
print ( tpl . format ( grade[ 1][ "name" ] , grade [ 1][ "kor" ] , grade[ 1][ "eng" ] ))
print ( tpl . format ( grade[ 2][ "name" ] , grade [ 2][ "kor" ] , grade[ 2][ "eng" ] ))

철수의 국어점수: 95, 영어점수: 88
영희의 국어점수: 92, 영어점수: 90
철민의 국어점수: 88, 영어점수: 76

In [49]:
phone = {
    "apple" : {
    "name" : "iPhone" ,
    "price" : "200$"
    } ,
    "samsung" : {
    "name" : "Galluxy" ,
    "price" : "200만원"
    }
}

In [50]:
tpl = "%s의 가격은 %s입니다."
print( tpl % ( phone[ 'apple' ][ 'name' ] , phone [ 'apple' ][ 'price' ] ) )
print( tpl % ( phone[ 'samsung' ][ 'name' ] , phone [ 'samsung' ][ 'price' ] ) )

iPhone의 가격은 200$입니다.
Galluxy의 가격은 200만원입니다.

In [51]:
review = {
    "items" : [

        { "email" : "user1@python.com" , "comment" : "Good~!!" } ,
        { "email" : "user2@python.com" , "comment" : "Nice~!!" },
        { "email" : "user3@python.com" , "comment" : "Not Bad" }
    ]
}
review

{'items': [{'email': 'user1@python.com', 'comment': 'Good~!!'},
  {'email': 'user2@python.com', 'comment': 'Nice~!!'},
  {'email': 'user3@python.com', 'comment': 'Not Bad'}]}

In [53]:
lectures = {
    "teacher" : "이광호 강사" ,
    "category" : "프로그래밍" ,
    "subject" : [
        { "no" : 1, "title" : "파이썬 프로그래밍" , "date" : "2023-03-01" },
        { "no" : 2, "title" : "자바 프로그래밍" , "date" : "2023-04-01" },
        { "no" : 3, "title" : "데이터분석" , "date" : "2023-05-01"}
    ]
}

In [92]:
print ("[%s가 진행하는 %s 수업]" % (lectures ['teacher'] , lectures ['category']))

tpl = "%d . %s -> 개강일: %s "
print (tpl % (lectures [ 'subject' ][0][ 'no' ] , lectures [ 'subject' ][0][ 'title' ] , lectures [ 'subject' ][0][ 'date' ] ) )
print (tpl % (lectures [ 'subject' ][1][ 'no' ] , lectures [ 'subject' ][1][ 'title' ] , lectures [ 'subject' ][1][ 'date' ] ) )
print (tpl % (lectures [ 'subject' ][2][ 'no' ] , lectures [ 'subject' ][2][ 'title' ] , lectures [ 'subject' ][2][ 'date' ] ) )

[이광호 강사가 진행하는 프로그래밍 수업]
1 . 파이썬 프로그래밍 -> 개강일: 2023-03-01
2 . 자바 프로그래밍 -> 개강일: 2023-04-01
3 . 데이터분석 -> 개강일: 2023-05-01

In [62]:
point = { "korean" : 98 , "math" : 77 , "english" : 82 }
len ( point )

3

In [63]:
point = {"korean" : 98 , "math" : 77 , "english" : 82}
print ( point )
del ( point [ 'english' ] )
print ( point )

{'korean': 98, 'math': 77, 'english': 82}
{'korean': 98, 'math': 77}

In [66]:
dic = { "name":"철수", "phone" : "010-1234-5678" , "birth" : "0115" }
print (dic.get ( "name" ) )

철수

In [67]:
print ( dic . get ( "gender" ) )

None

In [69]:
foo = { "a" : 100 , "b" : 200 }
print ( foo [ "c" ] )

KeyError: 'c'

In [70]:
print ( foo . get ( "c" , 300 ) )

300

In [71]:
성적표= { "국어" : 92 , "수학" : 88 , "영어" : 72 }

In [72]:
keys = 성적표 . keys ( )
print ( keys )

dict_keys(['국어', '수학', '영어'])

In [73]:
key_list = list ( keys )
print ( key_list )

['국어', '수학', '영어']

In [74]:
keyList = list (성적표. keys ( ) )
keyList

['국어', '수학', '영어']

In [75]:
성적표= { "국어" : 92 , "수학" : 88 , "영어" : 72 }

In [77]:
values= 성적표.values()
print(values)

dict_values([92, 88, 72])

In [78]:
value_list=list(values)
print(value_list)

[92, 88, 72]

In [79]:
valueList = list(성적표. values () )
valueList

[92, 88, 72]

In [80]:
성적표= { "국어" : 92 , "수학" : 88 , "영어" : 72 }

In [83]:
items = 성적표.items ( )
print ( items )

dict_items([('국어', 92), ('수학', 88), ('영어', 72)])

In [84]:
lists = list ( items )
print ( lists )

[('국어', 92), ('수학', 88), ('영어', 72)]

In [85]:
print(list(성적표.items()))

[('국어', 92), ('수학', 88), ('영어', 72)]

In [87]:
성적표1 = { "국어" : 92 , "수학" : 88 , "영어" : 72 }
성적표2 = { "물리" : 78 , "화학" : 82 }

성적표1.update(성적표2)
print(성적표1)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [93]:
성적표최종=성적표1.copy()
print(성적표최종)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [90]:
bar={"a": 100, "b":200}
print(bar)

bar.clear()
print(bar)

{'a': 100, 'b': 200}
{}

## IF문

In [95]:
print("시험시작")
score=int(input("점수를 입력하세요"))
if score>=60:
    print("합격입니다.")
    print("시험 끝")

시험시작
합격입니다.
시험 끝

In [96]:
money=10000
if money:
    print("택시를 타고")
print("집에가자")

택시를 타고
집에가자

In [98]:
name="python"
if name:
    print(name)

print("프로그래밍")

python
프로그래밍

In [117]:
grade = [ 100 , 80 , 70 ]
#grade=[]
if grade :
    msg = "국어: {0} , 영어: {1} , 수학: {2} "
    print (msg.format(grade[0],grade
    [1], grade[2]))
print ( "성적처리" )

국어: 100 , 영어: 80 , 수학: 70
성적처리

In [119]:
myage = int ( input ( '나이를 입력하세요' ) )
if myage == 19 :
    print ( "19살 입니다" )
if myage != 20 :
    print ( "20살이 아닙니다." )
if myage > 19 :
    print ( "성인입니다." )
if myage <= 19 :
    print ( "청소년입니다." )

20살이 아닙니다.
청소년입니다.

In [120]:
point = int ( input ( "점수를 입력하세요." ) )
print ( "입력값은 %d입니다." % point )

if point > 70 and point <= 80 :
    print ( "C학점 입니다." )

if point <= 70 or point > 80 :
    print ( "C학점이 아닙니다. " )

입력값은 60입니다.
C학점이 아닙니다.

In [123]:
isKorean = True

if isKorean == True :
    print( "한국사람입니다...(1)" )
if isKorean == False :
    print( "한국사람이 아닙니다... ( 2)" )
if isKorean != True :
    print( "한국사람이 아닙니다... (3)" )
if isKorean != False :
    print( "한국사람입니다...(4)" )
if isKorean :
    print( "한국사람입니다...(5)" )
if not isKorean :
    print( "한국사람이 아닙니다...(6)" )

한국사람입니다...(1)
한국사람입니다...(4)
한국사람입니다...(5)

In [125]:
a = 123.0
b = 123
if a != b:
    print("1) a와 b는 다르다" )
if a is not b:
    print("2) b와 c는 다르다" )

2) b와 c는 다르다

In [127]:
userl = "hello"
user2 = "world"
memberList = ['hello' , 'python' , 'life']

In [128]:
a = userl in memberList
print (a)

True

In [129]:
b = user2 in memberList
print (b)

False

In [130]:
userl = "hello"
user2 = "world"
memberList = [ 'hello' , 'python' , 'life' ]

In [131]:
a = user1 in memberList
print (a)

True

In [132]:
b = user2 in memberList
print (b)

False

In [133]:
userl = "hello"
user2 = "world"
memberList = [ 'hello' , 'python' , 'life' ]

In [135]:
if user1 in memberList :
    print ( userl + "(은)는 이미 가입되어 있습니다" )

hello(은)는 이미 가입되어 있습니다

In [137]:
if user2 in memberList :
    print ( user2 + "(은)는 이미 가입되어 있습니다." )

In [138]:
user1 = "hello"
user2 = "world"
memberList = [ 'hello' , 'python' , 'life' ]

In [139]:
if user1 not in memberList :
    print ( user1 + "(은)는 이미 가입되어 있습니다." )

In [141]:
if user2 not in memberList :
    print ( user2 + "(은)는 이미 가입되어 있지 않습니다." )

world(은)는 이미 가입되어 있지 않습니다.

In [145]:
print( "시험시작" )
score = int( input( "점수를 입력하세요" ) )
print( "입력값은 %d입니다." % score )
if score >= 60 :
    print( "합격입니다." )
else :
    print( "불합격입니다." )
print( "시험 끝" )

시험시작
입력값은 90입니다.
합격입니다.
시험 끝

In [154]:
answer = input ( "한국인입니까? (Y/N)" )
print ( "입력값은 %s입니다." % answer )

if answer.upper() == "Y" :
    isKorean = True
else :
    isKorean = False

if isKorean :
    print ( "한국사람 입니다...(1)" )
else :
    print ( "한국사람이 아닙니다...(2)" )

if not isKorean :
    print ( "한국사람이 아닙니다...(3)" )
else :
    print ( "한국사람 입니다...(4)" )

입력값은 Y입니다.
한국사람 입니다...(1)
한국사람 입니다...(4)

In [153]:
print("시험시작")

point = int(input( "점수를 입력하세요."))
print( "입력값은 %d입니다." % point)

if point > 90 :
    print ( "A학점" )
elif point > 80 :
    print ( "B학점" )
elif point > 70 :
    print ( "C학점" )
elif point > 60 :
    print ( "D학점" )
else :
    print ( "F학점" )
print( "시험 끝" )

시험시작
입력값은 90입니다.
B학점
시험 끝

## 연령대 구하기 문제풀이
### 프로그램이 실행되었을 때 자신의 나이를 입력 받도록 구성하고 그 나이를 토대로 연령대를 계산하여 출력하는 프로그램을 작성하세요.

In [162]:
age = int(input( "나이를 입력하세요:"))
if age <=9:
    print("당신은 어린이 입니다.")
elif age <=19:
    print("당신은 10대 입니다.")
elif age <=29:
    print("당신은 20대 입니다.")
elif age <=39:
    print("당신은 30대 입니다.")
elif age <=49:
    print("당신은 40대 입니다.")
elif age <=59:
    print("당신은 50대 입니다.")
else :
    print("당신은 노년층 입니다.")

당신은 노년층 입니다.

In [171]:
age = int(input( "나이를 입력하세요"))

level = (age//10)

if level == 0:
    print("어린이")
elif level >=6:
    print("노년층")
else:
    print("%d대" % (level * 10))

30대

### 비만도 구하기 문제풀이

In [168]:
myHeight = int(input("키를 입력하세요"))
myWeight = int(input("몸무게를 입력하세요"))
standardWeight=0
if myHeight <=150 :
    standardWeight=myHeight-110
else:
    standardWeight=(myHeight-110)*0.9
obesity=((myWeight-standardWeight)/standardWeight)*100
if obesity <= 20 :
    print("20%이하 정상(안심)")
elif obesity <= 30 :
    print("경도비만(주의)")
elif obesity <= 50 :
    print("중증도 비만(위험)")
else :
    print("고도비만(매우위험)")

고도비만(매우위험)

In [174]:
X = 1
while X <= 10 :
    print ( "x=%d " % X )
    X += 1

print ( "-" * 30 )
print ( "x의 최종값 %d " % X )

x=1
x=2
x=3
x=4
x=5
x=6
x=7
x=8
x=9
x=10
------------------------------
x의 최종값 11

In [175]:
x = int ( input ( "숫자를 입력하세요.." ) )
print ( "입력값은 %d입니다." % x )
print ( "-" * 30 )

y = 1
while y < 10 :
    z = x * y 
    print ( "%d x %d = %d " % ( x , y , z ) )
    y += 1

입력값은 4입니다.
------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [176]:
x = 1 
sum = 0 
while x <= 10 : 
    sum += x
    print ( "x=%d , sum=%d " % (x , sum ) )
    x += 1

x=1 , sum=1
x=2 , sum=3
x=3 , sum=6
x=4 , sum=10
x=5 , sum=15
x=6 , sum=21
x=7 , sum=28
x=8 , sum=36
x=9 , sum=45
x=10 , sum=55

In [178]:
a = 0
while a < 50 :
    print ( "a=%d" % a )
    a += 10

a=0
a=10
a=20
a=30
a=40

In [179]:
b = 10
while b > 0:
    print ( "b=%d" % b )
    b -= 2

b=10
b=8
b=6
b=4
b=2

In [185]:
mylist = [ 10 , 20 , 30 , 40 , 50 ]
size = len(mylist)
i = 0

while i < size:
    print (mylist[i])
    i+=1

10
20
30
40
50

In [186]:
성적표=[92,88,76,90,82]
과목수=len(성적표)
i=0
합계점수=0

while i <과목수:
    합계점수 += 성적표[i]
    i+=1

평균점수 = 합계점수 / 과목수

print("총점: %d, 평균: %0.1f" % (합계점수, 평균점수))

총점: 428, 평균: 85.6

## 연습문제
### 짝수의 합 구하기

In [204]:
x = 0
sum = 0 
while x < 101 : 
    sum += x
    x += 2
print ( "총합: ", sum)

총합:  2550

### 혈액형 빈도수 구하기

In [202]:
혈액형_데이터= ['A', 'A', 'A', 'O', 'B', 'B', 'O', 'AB', 'AB', 'O']
i=0
while len(혈액형_데이터) <11:
    
    print("result = {"A":%d, "B":%d, "O":%d, "AB":%d"})
    print(dic%{혈액형_데이터[0],})
    혈액형_데이터+=1

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (2861896101.py, line 5)

In [201]:
혈액형= ['A' , 'A' , 'A', 'O', 'B', 'B', 'O', 'AB', 'AB', 'O']
result={"A" : 0 , "B" : 0 , "AB" : 0 , "O" : 0}

i = 0

while i <len(혈액형):
    result[혈액형[i]] += 1
    i += 1
result

{'A': 3, 'B': 2, 'AB': 2, 'O': 3}

### 연습문제

In [211]:
ssn = int(input("주민번호의 앞 부분과 뒷 부분의 첫번째 글자를 입력하세요."))
if ssn<9000000:
    print(23-ssn{2})

print("당신은 %d세 남자입니다.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3001252869.py, line 3)

In [212]:
# 선생님 풀이
ssn=input("주민번호의 앞 부분과 뒷 부분의 첫번째 글자를 입력하세요.")

birth= int(ssn[:2])
print(birth)

97

In [ ]:
gencode = ssn[-1]